extends dashboard_navigation

block append scripts
    script(src="scripts/dashboard_shopping.js",type="text/javascript")

block content
    div(id="mainContent")
        h3 Shopping List for Room:  #{roomName}
        hr
        div(id="tableShopping")
            table(id="shoppingList" class="table")
        div(class="input triple")
            div
                span Item: 
                input(id="newItem")
            div
                span Quantity: 
                input(id="quantity")
            div 
                button(class="genButton" id="append") Append
        button(class="genButton" id="deleteAll") Delete all
        span(id="message")
        hr
        div(class="description")
            p 
                | "Horganize is proud to offer a realtime shopping list to keep track of all your housing needs.
                | Simply enter the name of the product and the quantity you need in the fields provided. 
                | As soon as the append button is pressed, the data for all your roommates will be stored online and is available room-wide.
                | To indicate that an entry has been completed, simply check it. 
                | Our powerful engine will update the list immediately.
                | To delete the whole shopping list, simply press the delete button."