extends dashboard_navigation

block append scripts
    script(src="/scripts/dashboard_overview.js",type="text/javascript")

block content
    div(id="mainContent")
        h3 Welcome #{username}
        hr
        h4 Room Announcements:
        div(class="dual maxHeight")
            div(class="box spaceIn space")
                div(id="messages" class="spaceIn")
                div(id="inputContainer")
                    label Message: 
                    input(id="messageInput", maxlength="40")
            div(id="roommates", class="box spaceIn space")
                p The following people are in your room #{room}:
                ul(id="roomMates")
        hr
        div(class="description")
            p 
                | "Welcome to HORGANIZE! This start page is the gateway to the organisation of your flat-sharing community.
                | On the right side you can see with whom you share your room.
                | To create a room-wide announcement type the message in the input field and simply confirm it with the Enter Button on your Keyboard.
                | All your roommates can read this message afterwards.
                | If you especially like a message, mark it with a Like!"


        
            


