extends dashboard_navigation
block append scripts
    script(src="/scripts/dashboard_admin.js",type="text/javascript")
block content
    div(id="mainContent")
        h3 Welcome admin #{username}
        button(id="wipeAll" class="genButton") WIPE ALL
        button(id="wipeRooms" class="genButton") WIPE ALL ROOMS
        p(id="message")

