doctype
html

head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Horganize!
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")
    link(rel="stylesheet", type="text/css", media="screen", href="styles/main.css")
    link(rel="stylesheet", type="text/css", media="screen", href="styles/dashboard.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="scripts/dashboard.js",type="text/javascript")

body
    div(class="dashboardContainer")
        div(id="content")
            block navigation
            div(id="logout")
                a(href="/logout", class="link") Logout

