extends dashboard_navigation
block append scripts
    script(src="/scripts/dashboard_admin.js",type="text/javascript")
block content
    div(id="mainContent")
        h3 Welcome admin #{username}
        button(id="wipeAll" class="genButton") WIPE ALL
        p(id="message")
        hr
        div(class="description")
            p 
                | "THIS ADMIN CONSOLE PROVIDES THE FEATURE TO DELETE ALL DATA FROM PERMANENT STORAGE
                | USE WITH CAUTION. YOU WILL BE LOGGED OUT AFTER SUCCESS. ALL ACCOUNTS WILL BE DELETED AND THE ADMIN ACCOUNT WILL BE RECREATED."


