extends dashboard_navigation

block append scripts
    script(src="/scripts/dashboard_overview.js",type="text/javascript")

block content
    div(id="mainContent")
        h3 Welcome #{username}
        hr
        h4 Room Announcements:
        div(class="dual")
            div(class="box spaceIn space")
                div(id="messages" class="spaceIn")
                div(id="inputContainer")
                    label Message: 
                    input(id="messageInput", maxlength="40")
            div(class="box spaceIn space")
                p The following people are in your room #{room}:
                ul(id="roomMates")
        hr
        div(class="description")
            p 
                | "BLABLABLA"


        
            


