extends landing_template

block content
     div(class="content")
        div(class="featureContainer")
            h2(class="featureHeader") Reset your Password:
            form(action="/resetPassword", method="post")
                label(for="email") Email: 
                input(type="email", name="email", required, maxlength="40")
                button(class="genButton") Submit
        div(class="description featureContainer")
            h2(class="featureHeader") It's super easy!
            p   "Forgot your password? No problem. Horganize will send you a mail, containing a link to reset your password."