doctype
html
    include landing_head.pug
    body
        div(id="titleSection")
            img(src="/images/background_cropped.png", alt="Login Background")
            a(href="/login.html")
                h1 Horganize!
        form(id="loginForm", method="post", action="/login")
            div(id="loginContainer")
                div
                    br
                    br
                    span Keep housing easy and manage all your related stuff.
                div
                    |Email
                    br
                    input(class="inputField", type="text", id="emailLogin", name="emailLogin", maxlength="40")
                    br
                    a(class="link", href="register.html") register
                div
                    |Password
                    br
                    input(class="inputField", type="password", name="pswLogin", maxlength="40")
                    br
                    a(class="link", href="/passwordForgot") forgot password?
                div
                    button(type="submit", class="genButton") Login
        hr(class="straightLine")

        block content

        footer
                    a(class="link", href="/about") about