extends landing_template

block content
    div(class="featureContainer")
        h1 About
        div(class="description")
            p 
                |"Horganize is a project to make living on campus easier for You.
                | It was developed as part of the course Web Application Development (CSCI3230U)
                | at UOIT (University of Ontario Institute of Technology) in Winter 2019.
                | Since living is a very large part of studying on campus,
                | the idea came up to simplify the organization with a web application. Have fun with HORGANIZE!
                | Meet our Developers below."
    div(class="content")
        div(class="featureContainer")
            h2(class="featureHeader") Timo Buechert
            p Student of Business Information Systems @DHBW Mannheim GERMANY
            p 2nd Year Exchange Student @UOIT Winter 2019
            img(src="/images/dhbw.png", class="framedPicture")
            div(class="description")
                p "I turn coffees into code!"

        div(class="description featureContainer")
            h2(class="featureHeader") Sumeet Dhillon
            p Student of Computer Science @UOIT Oshawa CANADA
            p 3rd Year Student @UOIT Winter 2019
            img(src="/images/uoit.png", class="framedPicture")
            div(class="description")
                p "OnTechU’s Finest"