.form label {
  margin-top: 0px;
  float: left;
  margin-right: 10px;
}
.form div {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-top: 0px;
  margin-bottom:0px;
}

th {
  height: 10px;
  text-align: center;
  font-weight: 700;
}

td {
  height: 50px;
}

.today {
  background-color: green;
}
