/****************************************************
* START OF INSERTION (FOREIGN CODE)
*    Title: cssicon
*    Author: Wenting Zhang
*    Retrieved: 03/21/2019
*    Availability: https://github.com/wentin/cssicon
*    License: CC0 1.0 Universal
*****************************************************/
.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
  position: inherit;
}
/*END OF INSERTION (FOREIGN CODE)*/

.anIcon{
    width: 18px;
    height: 18px;
    float: right;
    position: inherit;
}

.minus.icon{
    position: inherit;
}

.heart-solid.icon{
    position: inherit;
}

.filled{
    background-color: #CEFF67;
}

.message{
    border-radius: 10px;
    transition: all 0.2s linear;
}

html{
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dashboardContainer{
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-width: thin;
    width: 95vw;
    height: 95vh;
    margin-top: 2.0vh;
    margin-bottom: 2.0vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.9); 
    min-height: 912px;  
}



.active a{
    color: black;
}

#content{
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 180px 1fr 1fr 5%; 
    grid-template-rows: 5vh 30vh 40vh 5vh;
    grid-template-areas:    "navhead stop stop sideup"
                            "nav cont cont side"
                            "nav cont cont side"
                            "nav cont cont side";
}

#navigation{
    margin-top: 20px;
    border-right: solid;
    border-width: thin;
    grid-area: nav;
}

ul{
    list-style: none;
}

#navHead{
    grid-area: navhead;
}
#navHead h2{
    margin-top: 0;
}

#logout{
    grid-area: sideup;
}

#mainContent{
    grid-area: cont;
    padding: 0 20px;
}

#tableShopping{
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.done{
    text-decoration: line-through;
}

.triple{
    display: grid;
    grid-template-columns: 1fr 0.75fr 0.5fr;
}

.space{
    margin: 8px;
}

.spaceIn{
    padding: 8px;
}

.dual{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry{
    margin: 4px;
}

.triple .genButton{
    margin-right: 0;
    margin-left: 0;
}


.table{
    table-layout: fixed;
}

.table td{
    width: 100px;
}

#quantity{
    width: 100px;
}

.box{
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    border-width: thin;
}

#messages{
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

