/****************************************************
* START OF INSERTION (FOREIGN CODE)
*    Title: cssicon
*    Author: Wenting Zhang
*    Retrieved: 03/21/2019
*    Availability: https://github.com/wentin/cssicon
*    License: CC0 1.0 Universal
*****************************************************/
.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
  position: inherit;
}
/*END OF INSERTION (FOREIGN CODE)*/

.anIcon{
    width: 18px;
    height: 18px;
    float: right;
    position: inherit;
}

.minus.icon{
    position: inherit;
}

.heart-solid.icon{
    position: inherit;
}

.filled{
    background-color: #CEFF67;
}

.message{
    border-radius: 10px;
    transition: all 0.2s linear;
}

html{
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    html{
        background: none;
    }
}

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
@media only screen and (max-width: 768px) {
    body{
        padding: 4px;
    }
}

.dashboardContainer{
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-width: thin;
    margin-top: 2.0vh;
    margin-bottom: 2.0vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: rgba(255, 255, 255, 0.9); 
    min-height: 912px;  
    min-width: 1000px;
    max-width: 1000px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .dashboardContainer{
        border-radius: 0;
        margin: 0;
        background-color: rgba(255, 255, 255, 1);
        min-height: 0;
        min-width: 0;
    }
}



.active a{
    color: black;
}

#content{
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    margin-right: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 180px 1fr 1fr 5%; 
    grid-template-rows: 5vh 30vh 40vh 5vh;
    grid-template-areas:    "navhead stop stop sideup"
                            "nav cont cont side"
                            "nav cont cont side"
                            "nav cont cont side";
}

@media only screen and (max-width: 768px) {
    #content{
        margin: 0;
        display: grid;
        grid-template-columns: auto ; 
        grid-template-rows: auto;
        grid-template-areas:    "navhead stop stop sideup"
                                "nav nav nav side"
                                "cont cont cont side"
                                "cont cont cont side";
    }
}

#navigation{
    margin-top: 20px;
    border-right: solid;
    border-width: thin;
    grid-area: nav;
}

@media only screen and (max-width: 768px) {
    #navigation{
        margin: 0;
        border-right: none;
        display: grid;
    }

    #navigation li{
        display: inline-block;
        margin: 4px;
    }
}

ul{
    list-style: none;
}

#navHead{
    grid-area: navhead;
}
#navHead h2{
    margin-top: 0;
}

#logout{
    grid-area: sideup;
}

#mainContent{
    grid-area: cont;
    padding: 0 20px;
}

#tableShopping{
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {

    #tableShopping{
        border-style: solid;
        border-width: thin;
        border-color: black;
    }
}

.done{
    text-decoration: line-through;
}


.dual{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.triple{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
}

.quatro{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr;
}

@media only screen and (max-width: 768px) {

    .dual{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
    }

    .triple{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
    }
    .quatro{
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
    }
}

.space{
    margin: 8px;
}

.spaceIn{
    padding: 8px;
}


.entry{
    margin: 4px;
}

.triple .genButton{
    margin-right: 0;
    margin-left: 0;
}


.table{
    table-layout: fixed;
}

.table td{
    width: 100px;
}

#quantity{
    width: 100px;
}

.box{
    border-style: solid;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    border-width: thin;
}

#messages{
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.inline{
    list-style-type: none;
    display: inline-block;
}

.inline li{
    display: inline;
}

@media only screen and (max-width: 768px) {

    .inline li{
        display: block;
    }
}

.overflow{
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

#roommates{
    max-height: 209px;
    overflow: hidden;
}


