html{
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body{
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    border-width: thin;
    width: 95vw;
    height: 95vh;
    margin-top: 2.0vh;
    margin-bottom: 2.0vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: white;
    opacity: 0.6;
    
}