body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    min-width:912px;  
}

@media only screen and (max-width: 768px) {
    body{
        min-width: 0;
    }

    span, input{
        display: block;
    }
}



#titleSection h1{
    color: white;
    position: absolute;
    left: 25vw;
    top: 10vw;
    font-size: 3vw;
}

#titleSection img{
    width: 100%;
}
@media only screen and (max-width: 768px) {
    #titleSection h1{
        font-size: 2em;
        color: black;
        position: relative;
        left: 0;
        top: 0;
    }

    #titleSection img{
        display: none;
    }

    #titleSection{
        padding: 8px;
    }

    #titleSection a{
        text-decoration: none;
    }
    
}



#loginContainer{
    display: grid;
    grid-template-columns: auto 200px 200px 100px;
    grid-gap: 10px;
    margin: 8px;
}

@media only screen and (max-width: 768px) {
    #loginContainer{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 8px;
    }

    #loginContainer > div:first-child {
        display:none; 
    }
}

#loginContainer .genButton{
    position: relative;
    top: 30%;
}

input{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.link{
    text-decoration: none;
    color: grey;
}

.warning{
    border: red;
}

.genButton {
    border: black;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
  }

  @media only screen and (max-width: 768px) {
    .genButton{
        display: block;
    }
}

.genButton:hover{
    background-color: #eaeaea;
    box-shadow: 0 1px 0;
}



  .bigButton{
    border: black;
    border-style: solid;
    border-width: thin;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.3em;

}


.bigButton:hover {
    background-color: #eaeaea;
    box-shadow: 0 1px 0;
}
.featureContainer{
    margin: 20px;
    padding: 20px;
}

.featureImage{
    width: 50%;
    height: auto;
}

.framedPicture{
    width: 200px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;

}

footer{
    float: right;
}
footer a{
    margin: 10px;
}

.description{
    padding: 1em;
}

.description p{
    font-style: italic;
}

.lightLine{
    border: 01px solid lightgray;
}
