.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
h1{
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 7.5vw;
    font-size: 64pt;
}

.bigButton{
    font-size: 24pt;
    width: 300px;
    margin-top: 4vw;
}

.setUpRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5vw;
    justify-content: center;
    justify-items: center;
}

.inActive{
    display: none;
}

.roomForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    justify-items: center;
}

.roomForm input{
    font-size: 24pt;
    color: grey;
}

#joinExisting input{
    font-size: 24pt;
    color: grey;
}

.point{
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-color: grey;
    margin: 8px;
}

.active{
    background-color: black;
}

.progress{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;

}


